{% extends "base.html" %}

{% block content %}
    <div id="filter">
        <div id="dropdown">
            <label for="manufacturer-list">Filter by Manufacturer:</label>
            <select name="manufacturer-list" id="manufacturer-list">
            {% for manufacturer in all_manufacturers %}
                <option value="{{manufacturer.id}}">{{manufacturer.name}}</option>
            {% endfor %}
            </select>
        </div>
    </div>


    <div id="product-main">
        {% for product in all_products %}
            <div id="product">
                <a href="/products/{{product.id}}">{{product.name}}</a>
                <hr>
                <p>Description: {{product.description}}</p>
                <p>Manufactured by: {{product.manufacturer.name}}</p>
                <p>Stock Quantity: {{product.stock_quantity}}
                {% if product.stock_quantity == 0 %}
                <b style="color:red;background-color:white;padding:5px;">Out of Stock</b>
                {% elif product.stock_quantity <= 5 %}
                    <b style="color:black;background-color:white;padding:5px;">Low Stock</b>
                {% endif %}
                <p>Buying Cost: £{{product.buying_cost}}</p>
                <p>Selling Price: £{{product.selling_price}}</p>
                <p>Profit: £{{product.selling_price - product.buying_cost}}</p>
                <p>Markup: {{(product.selling_price - product.buying_cost) / product.selling_price * 100}}%</p>
                <p>Category: {{product.category}}</p>    
                <br>            
            </div>
        {% endfor %}
    </div>
{% endblock %}