{% extends "base.html" %}

{% block content %}
    <div id="filter">
        <div id="dropdown">
            <label for="category">Filter by Category:</label>
            <select name="category" method="POST" actions="/products/category">
                {% for product in products %}
                <option value="{{product.category}}">{{product.category}}</option>
                {% endfor%}
            </select>
        </div>
    </div>


    <div id="product-main">
        {% for product in all_products %}
            <div id="product">
                <a href="/products/{{product.id}}">{{product.name}}</a>
                <hr>
                <p>Description: {{product.description}}</p>
                <p>Manufactured by: {{product.manufacturer.name}}</p>
                <p>Stock Quantity: {{product.stock_quantity}}
                {% if product.stock_quantity == 0 %}
                <b style="color:red;background-color:white;padding:5px;">Out of Stock</b>
                {% elif product.stock_quantity <= 5 %}
                    <b style="color:black;background-color:white;padding:5px;">Low Stock</b>
                {% endif %}
                <p>Buying Cost: £{{product.buying_cost}}</p>
                <p>Selling Price: £{{product.selling_price}}</p>
                <p>Profit: £{{product.selling_price - product.buying_cost}}</p>
                <p>Category: {{product.category}}</p>    
                <br>            
            </div>
        {% endfor %}
    </div>
{% endblock %}