{% extends "base.html" %}

{% block content %}

<form action="/manufacturers" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Name">
    <br>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" placeholder="Location">
    <br>
    <label for="contact">Contact:</label>
    <input type="text" id="contact" name="contact" placeholder="Contact">
    <br>
    <button type="submit">Add Manufacturer</button>
</form>

{% endblock %}