body {
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;

}

header{
    height: 100px;
    background-color: black;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}


header > nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    color: white;
    justify-content:space-around;

}

header > nav > a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    color: white;
    font-size: 40pt;
    text-decoration: none;
}

header > nav > a:hover {
    color:lime;
}

header > nav > ul {
    display: flex;
    flex-flow: row;
    align-items:end;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24pt;
    gap: 20px;
    
}

header > nav > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header > nav > ul > li > a {
    color:white;
    font-weight: 600;
    text-decoration: none;
}

header > nav > ul > li > a:active {
    color:lime;
}
header > nav > ul > li > a:visited {
    color:white;
}

header > nav > ul > li > a:hover {
    color:lime;
}


#welcome {
    height: 700px;
    background-color: lime;
    display: flex;
    align-content: center;
    justify-items: center;
    margin: auto;
}

#welcome > #home-text {
    width:30%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: 130px
}

#welcome > #home-text > h1 {   
    font-weight: 900;
    display:flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    letter-spacing: 5pt;
}

#product-main{
    background-color: black;
    min-height:650px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding:15px;
}

#product {
    display:flex;
    flex-direction: column;
    justify-content:end;
    align-content: center;
    width: 425px;
    border-radius: 235px 235px 0 0;
    min-height: 575px;
    background-color: lime;
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 50px;
    margin-bottom: 45px;
    --mask:
        radial-gradient(38.42px at 50% calc(100% - 54.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(38.42px at 50% calc(100% + 24.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
/* ^^created using open source wave generator with my dimensions added ^^ */

#product > a {
    color: black;
    font-size: 20pt;
    font-weight: 700;
    text-decoration: none;
    line-height: 24pt;
    text-align: center;

}

#product > a:hover {
    color: white;
}

#product > p {
    font-size: 16pt;
    font-weight: 400;
    line-height: 10px;

}

#manufacturer-main {
    background-color: black;
    min-height:700px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    padding:15px;
}

#manufacturerbox {
    display:flex;
    flex-direction: column;
    justify-content:end;
    align-content: center;
    width: 300px;
    border-radius: 175px 175px 0 0;
    min-height: 300px;
    max-height: 400px;
    background-color: lime;
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 50px;
    margin-bottom: 45px;
    --mask:
        radial-gradient(38.42px at 50% calc(100% - 54.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(38.42px at 50% calc(100% + 24.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
/* ^^created using open source wave generator with my dimensions added ^^ */

#manufacturerbox > a {
    color: black;
    font-size: 20pt;
    font-weight: 700;
    text-decoration: none;
    line-height: 21pt;
    text-align: center;

}

#manufacturerbox > a:hover {
    color: white;
}

#manufacturerbox > p {
    font-size: 18pt;
    font-weight: 400;
    line-height: 10px;
}

#newproductmain {
    background-color: black;
    min-height:700px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding:15px;
}

#newproductmain > form {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content:end;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    width: 450px;
    border-radius: 245px 245px 0 0;
    min-height: 650px;
    background-color: white;
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 70px;
    padding-top:20px;
    margin-bottom: 45px;
    --mask:
        radial-gradient(38.42px at 50% calc(100% - 54.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(38.42px at 50% calc(100% + 24.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
/* ^^created using open source wave generator with my dimensions added ^^ */

#newproductmain > form > h1 {
    color: black;
    font-size: 20pt;
    font-weight: 700;
    text-decoration: none;
    line-height: 21pt;
    text-align: center;   
}
#newproductmain > form > input[type=text]{
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    width: 300px;
}

#newproductmain > form > input[type=number]{
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    width: 300px;
}

#newproductmain > form > select {
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    width: 310px;
}

#newproductmain > form > #button > button[type=submit] {
    width:fit-content;
    background-color: black;
    color: white;
    font-weight: 600;
    border-style: none;
    padding:5px;
    align-self: center;
    width: 150px;
    border-radius: 5px;
}

#newproductmain > form > #button > button[type=submit]:hover {
    background-color: lime;
    color: black;
    width: 150px;
    border-radius: 5px;
}

#newmanufacturermain {
    background-color: black;
    min-height:700px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding:15px;
}

#newmanufacturermain > form {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content:end;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 425px;
    border-radius: 235px 235px 0 0;
    min-height: 400px;
    background-color: white;
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 70px;
    padding-top:20px;
    margin-bottom: 45px;
    --mask:
        radial-gradient(38.42px at 50% calc(100% - 54.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(38.42px at 50% calc(100% + 24.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
/* ^^created using open source wave generator with my dimensions added ^^ */

#newmanufacturermain > form > h1 {
    color: black;
    font-size: 20pt;
    font-weight: 700;
    text-decoration: none;
    line-height: 21pt;
    text-align: center;   
}
#newmanufacturermain > form > input[type=text]{
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    width: 300px;
}


#newmanufacturermain > form > button[type=submit] {
    width:fit-content;
    background-color: black;
    color: white;
    font-weight: 600;
    border-style: none;
    padding:5px;
    align-self: center;
    width: 200px;
    border-radius: 5px;
}

#newmanufacturermain > form > button[type=submit]:hover {
    background-color: lime;
    color: black;
    border-radius: 5px;
}

#edit {
    background-color: black;
    min-height:650px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding:15px;
}

#edit > form {
    display:flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content:end;
    align-content: center;
    width: 425px;
    border-radius: 235px 235px 0 0;
    min-height: 600px;
    background-color: white;
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 70px;
    padding-top:20px;
    margin-bottom: 45px;
    --mask:
        radial-gradient(38.42px at 50% calc(100% - 54.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(38.42px at 50% calc(100% + 24.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
/* ^^created using open source wave generator with my dimensions added ^^ */

#edit > form > h1 {
    color: black;
    font-size: 20pt;
    font-weight: 700;
    text-decoration: none;
    line-height: 21pt;
    text-align: center;   
}
#edit > form > input[type=text]{
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    width: 300px;
}

#edit > form > button[type=submit] {
    width:fit-content;
    background-color: black;
    color: white;
    font-weight: 600;
    border-style: none;
    padding:5px;
    align-self: center;
    width: 200px;
    border-radius: 5px;
}

#edit > form > button[type=submit]:hover {
    background-color: lime;
    color: black;
    border-radius: 5px;
}

#edit > form > input[type=number]{
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    width: 300px;
}

#edit > form > select {
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    width: 310px;
}

#details {
    background-color: black;
    min-height:650px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding:15px;
}

#details > #product-details {
    display:flex;
    flex-direction: column;
    justify-content:end;
    align-content: center;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 265px 265px 0 0;
    min-height: 700px;
    background-color: lime;
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 50px;
    margin-bottom: 45px;
    --mask:
        radial-gradient(38.42px at 50% calc(100% - 54.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(38.42px at 50% calc(100% + 24.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
/* ^^created using open source wave generator with my dimensions added ^^ */

#details > #product-details > h1{
    color: black;
    font-size: 30pt;
    font-weight: 700;
    text-decoration: none;
    line-height: 15pt;
    text-align: center;   
}

#details > #product-details > h2{
    color: black;
    font-size: 20pt;
    font-weight: 500;
    text-decoration: none;
    line-height: 15pt;
    text-align: center;   
}
#details > #product-details > #stock-check > h2{
    color: black;
    font-size: 20pt;
    font-weight: 500;
    text-decoration: none;
    line-height: 15pt;
    text-align: center;   
}

#details > #product-details > #stock-check > p{
    background-color: white;
    padding:5px;
    color: black;
    font-size: 20pt;
    font-weight: 700;
    text-decoration: none;
    line-height: 15pt;
    text-align: center;   
}

#details-buttons >form > button[type=submit] {
    width:fit-content;
    background-color: black;
    color: white;
    font-weight: 600;
    border-style: none;
    padding:5px;
    align-self: center;
    width: 200px;
    border-radius: 5px;
}

#details-buttons > form > button[type=submit]:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}
#details-buttons > form > input[type=submit] {
    width:fit-content;
    background-color: black;
    color: white;
    font-weight: 600;
    border-style: none;
    padding:5px;
    align-self: center;
    width: 200px;
    border-radius: 5px;
}

#details-buttons > form > input[type=submit]:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

#details-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

#details > #product-details > #stock-check{
    display:flex;
    flex: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#details > #manufacturer-details {
    display:flex;
    flex-direction: column;
    justify-content:end;
    align-content: center;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 265px 265px 0 0;
    min-height: 400px;
    background-color: lime;
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 50px;
    margin-bottom: 45px;
    --mask:
        radial-gradient(38.42px at 50% calc(100% - 54.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(38.42px at 50% calc(100% + 24.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
/* ^^created using open source wave generator with my dimensions added ^^ */

#details > #manufacturer-details > h1{
    color: black;
    font-size: 30pt;
    font-weight: 700;
    text-decoration: none;
    line-height: 30pt;
    text-align: center;   
}

#details > #manufacturer-details > h2{
    color: black;
    font-size: 20pt;
    font-weight: 500;
    text-decoration: none;
    line-height: 15pt;
    text-align: center;   
}

#filter {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
    padding-bottom: 30px;

}

#filter > #dropdown {
    color:white;
    font-size: 22px;
    letter-spacing: 2px;
}

#filter > #dropdown ≥ #select {
    border: none;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 0;
}

#filter > #dropdown ≥ #select:hover {
    background-color: lime;
}

footer {
    background-color: black;
    display: flex;
    padding: 20px;
    grid-area: footer;
    justify-content: center;
    height: 80px;
}

footer > h3 {
    color:white;
    font-size: 18pt;
    font-weight: 100;
    letter-spacing: 10px ;
}