#grid-container {
    display: grid;
    grid-template-areas:'header header'
                        'main form'
                        'footer footer';
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 70% 10%;
    height:auto;
}