<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Paranormal Pantry</title>

</head>
<body>
    <div id="container">
        <header>
            <nav>
                <h1>PARANORMAL PANTRY</h1>
                
                <ul class="menu" style="color:white; text-decoration:none;">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/products/new">Add Product</a></li>
                    <li><a href="/manufacturers">Manufacturers</a></li>
                    <li><a href="/manufacturers/new">Add Manufacturer</a></li>
                </ul>
            </nav>
        </header>
        <main>
        {% block content %}

        {% endblock %}
        </main>
        <footer>
            <h3>PARANORMAL PANTRY</h3>
        </footer>
    </div>
</body>
</html>